body{
	background-color= lightgray;
}
 .list{
  padding:20px;
  background: #3ACAC0;
}
.navbar-inverse {
     background-color: #white !important;
     border-color: #080808;
}
#nav_bar {
background-color: red;
border-color: red;
}
li {
    display: inline;
}
h2 {
	display: block;
	color: #3ACAC;
	margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}